<div *ngIf='funQuintoBoton'>
<label>{{author}}</label>
<br>
<label appMiDirectiva *ngIf='funSegundoBoton'>{{quote}}</label>
<br>
<button (click)="getQuotes()" *ngIf='funTercerBoton'>Obtener Mensaje</button>
<br>
<button (click)="metodoSegundoBoton()">Segundo Boton</button>
<br>
<button (click)="metodoTercerBoton()">Tercer Boton</button>
<br>
<img src="../../assets/imagenes/image.jpg" *ngIf='funCuartoBoton'>
<br> 
<button (click)="metodoCuartoBoton()">Cuarto Boton</button>
<br>
</div>
<button (click)="metodoQuintoBoton()">Quinto Boton</button>
<br>
<label *ngIf='funEggBoton'>Generador por AnakymKerberos@gmail.com</label>
